@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');
* {
    box-sizing: border-box;
}

body {
    background-color: #242333;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0;
}

.movie-container {
    margin: 20px 0;
}

.movie-container select {
    background-color: #fff;
    border: 0;
    border-radius: 5px;
    font-size: 14px;
    margin-left: 10px;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    padding: 5px 15px 5px 15px;
}

.container {
    perspective: 1000px;
    margin-bottom: 30px;
}

.seat {
    background-color: #444451;
    height: 12px;
    width: 15px;
    margin: 3px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.seat.selected {
    background-color: #6feaf6;
}

.seat.occupied {
    background-color: #fff;
}

.seat:nth-of-type(2),
.seat:nth-of-type(6) {
    margin-right: 15px;
}

.row .seat:not(.occupied):hover {
    cursor: pointer;
    transform: scale(1.2)
}

.showcase {
    background-color: rgba(0, 0, 0, 0.3);
    padding: 5px 10px;
    color: #777;
    display: flex;
    justify-content: space-between;
    border-radius: 5px;
}

.showcase li {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 10px;
}

.showcase li small {
    margin-left: 3px;
}

.row {
    display: flex;
}

.screen {
    background-color: #fff;
    height: 70px;
    width: 100%;
    margin: 15px 0;
    transform: rotateX(-45deg);
    box-shadow: 0 3px 10px rgba(255, 255, 255, 0.7);
}

span {
    color: #6feaf6
}